@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    min-inline-size: 20rem;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
  }

  body,
  h1,
  h2,
  h3,
  p,
  ul,
  ol,
  figure {
    margin: 0;
  }

  body {
    min-block-size: 100vh;
    min-block-size: 100dvh;
  }

  ul,
  ol {
    padding: 0;
  }

  img,
  picture,
  svg {
    display: block;
    max-inline-size: 100%;
  }

  button,
  input,
  textarea,
  select,
  summary {
    font: inherit;
  }

  button,
  summary,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  a {
    color: inherit;
  }
}
